* {
  margin: 0px;
}

.header {
  display: flex;
  border-bottom: black solid 1px;
  width: 1310px;
  height: 100px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  margin: 0px;
  position: fixed;
}

.logo {
  width: 70px;
  height: 60px;
  padding: 10px 0px 10px 5px;
}

h2 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding: 20px 10px;
  width: 100px;

}

nav {
  display: inline-flex;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
}

.nav {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 28px;
  align-content: center;
}

a {
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 130px 30px;
  width: 1290px;
  height: 1040px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  position: relative;
  z-index: -1;

}

h1 {
  margin: 10px 0px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

h3{
  text-transform: uppercase;
  font-family: Georgia;
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

p {
  margin: 10px 0px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large {
  width: 630px;
  height: 1300;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.column.medium {
  width: 300px;
  display: inline-flex;
}

.column.small {
  width: 240px;
  display: inline-flex;
}

.column.split {
  display: inline-flex;
  width: 315px;
}

.column.split1 {
  display: inline-flex;
  width: 315px;
}

.column.split2 {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 630px;
}

.mother {
  width: 630px;
  height: 300px;
  background-image: url(../images/img-story-main.png);
  background-size: cover;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.monument {
  width: 630px;
}

.orca {
  width: 300px;
  align-self: center;
  justify-content: center;
  padding: 20px 0px;
}

.earth {
  width: 300px;
  height: 300px;
  background-image: url(../images/img-story-2.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.burger {
  width: 300px;
  align-self: center;
  padding: 20px 0px;

}

.research {
  width: 300px;
  height: 300px;
  background-image: url(../images/img-story-3.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.fbi {
  width: 300px;
}

.cats {
  width: 300px;
  height: 300px;
  background-image: url(../images/img-story-1.png);
  background-size: cover;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.brooklyn {
  width: 300px;
}

.cookie {
  width: 240px;
}

.bite {
  width: 240px;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  justify-content:space-between;
  align-content: space-between;
}

.list {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: black solid 1px;
  padding: 15px 15px;
  margin: 0px 0px;
  text-align: left;
}


.footer {
  width: 100%;
  height: 300px;
  background-color: MediumAquamarine;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer1 {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  width: 100%;

}


h4 {
  font-family: Georgia;
  font-size: 16px;
  color: white;
  padding: 0px 20px;
  width: 100px;
  justify-content: center;
  color: white;
  text-align: center;
  border-right: white solid 2px;

}

.footer2 {
  display: inline-flex;
  align-content: center;
  justify-content: space-around;
  width: 250px;
  padding: 0px 10px;

}

.nav1 {
  font-family: Verdana;
  font-size: 12px;
  align-content: center;

}

.copyright {
  display: flex;
  justify-content: center;
  width: 400px;
}

.copyright p {
  font-family: Verdana;
  font-size: 12px;
}
