* {
  margin: 0px;
}

.header {
  display: flex;
  border-bottom: black solid 1px;
  width: 100%
  height: 100px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  width: 70px;
  height: 60px;
  padding: 10px 0px 10px 5px;
}

h2 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding: 20px 10px;
  width: 200px;
}

nav {
  display: inline-flex;
  align-content: center;
  justify-content: flex-end;
  width: 100%
}

.nav {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 28px;
  align-content: center;
}

a {
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: black solid 1px;
  width: 1250px;
  height: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 10px 0px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

h3{
  text-transform: uppercase;
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
}

p {
  margin: 10px 0px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large {
  width: 630px;
  height: 1300;
  border: black solid 1px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.column.medium {
  width: 300px;
  border: black solid 1px;
  display: inline-flex;
}

.column.small {
  width: 240px;
  border: black solid 1px;
  display: inline-flex;
}

.column.split {
  display: inline-flex;
  width: 315px;
}

.column.split1 {
  display: inline-flex;
  width: 315px;
}

.column.split2 {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 630px;
}

.mother {
  border: black solid 1px;
  width: 630px;
  height: 300px;
  background-image: url(../images/img-story-main.png);
  background-size: cover;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.monument {
  border: black solid 1px;
  width: 630px;
}

.orca {
  border: black solid 1px;
  width: 300px;
  align-self: center;
  justify-content: center;
  padding: 20px 0px;
}

.earth {
  border: black solid 1px;
  width: 300px;
  height: 300px;
  background-image: url(../images/img-story-2.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.burger {
  border: black solid 1px;
  width: 300px;
  align-self: center;
  padding: 20px 0px;

}

.research {
  border: black solid 1px;
  width: 300px;
  height: 300px;
  background-image: url(../images/img-story-3.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.fbi {
  border: black solid 1px;
  width: 300px;
}

.cats {
  border: black solid 1px;
  width: 300px;
  height: 300px;
  background-image: url(../images/img-story-1.png);
  background-size: cover;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.brooklyn {
  border: black solid 1px;
  width: 300px;
}

.cookie {
  width: 240px;
  border: black solid 1px;
}

.bite {
  width: 240px;
  border: black solid 1px;
}

.blank.small {
  border: black solid 1px;
  width: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  justify-content:space-between;
  align-content: space-between;
}
